@page
@model IndexModel
@{
    ViewData["Title"] = "Steam Games";
}

@if (!ModelState.IsValid)
{
    <div class="alert alert-danger">
        @foreach (var error in ModelState.Values.SelectMany(v => v.Errors))
        {
            <p>@error.ErrorMessage</p>
        }
    </div>
}

@{
    var player = Model.player.personaname;
    var games = Model.games;
    var gameReviews = Model.gameReviews;
}

<h1>@player's Top 5 Games</h1>

@if (games is null)
{
    <p>No posts found.</p>
}
else
{
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>App ID</th>
                <th>Name</th>
                <th>Playtime</th>
                <th>Review</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < games.Count; i++)
            {
                <tr>
                    <td>@games[i].appid</td>
                    <td>@games[i].name</td>
                    <td>@games[i].playtime_forever</td>
                    <td>@gameReviews[i]</td>
                </tr>
            }
        </tbody>
    </table>
}